.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
  position: fixed;
}

.drawer {
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 32px;

  .items {
    flex: 1;
    overflow: auto;
    margin-bottom: 40px;
  }
  h2 {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 30px;

    img {
      cursor: pointer;
    }
  }
}

.cartItem {
  display: flex;
  align-items: center;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 20px;

  .cartItemImg {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-position: 0 10px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  p {
    font-size: 16px;
    margin: 0;
  }
  b {
    font-size: 14px;
  }
  .cartimg {
    margin-right: 21px;
  }
  .cartinfo {
    margin-right: 21px;
  }
  .cartremove {
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.totalblock {
  ul {
    display: block;
    margin-bottom: 20px;
    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
    }
    div {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;

      position: relative;
      top: -4px;
      margin: 0 7px;
    }
  }
  .greenButton {
    position: relative;
    border: none;

    &:hover {
      img {
        transform: translateX(10px);
      }
    }
    img {
      position: absolute;
      right: 40px;
      top: 20px;
      transition: transform 0.2s ease-in-out;
    }
  }
}
.greenButton {
  width: 100%;
  height: 55px;
  background: #9dd458;
  border-radius: 18px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;

  transition: background 0.2s ease-in-out;
  &:hover {
    background: lighten($color: #9dd458, $amount: 5);
  }
  &:active {
    background: darken($color: #9dd458, $amount: 5);
  }
}
.cartEmpty {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .cartEmptyImg {
    margin-bottom: 20px;
    width: 120px;
    height: 120px;
  }
  .greenButton {
    position: relative;
    border: none;

    &:hover {
      .arrowEmpty {
        transform: translateX(10px);
      }
    }
    .arrowEmpty {
      position: absolute;
      left: 35px;
      top: 20px;
      transform: rotate(180deg);
      transition: transform 0.2s ease-in-out;
    }
  }
}
